---

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
</head>
<body>
    <a href="/">Inicio</a>
    <a href="/about">Acerca de</a>
    <a href="/blog">Donde escribo</a>
    <h1>Alta pagina de about</h1>
    <h2>La teoría dice que acá va info sobre mi</h2>
    <p>Facilito este tutorial</p>
</body>
</html>
