---

---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Astro</title>
</head>
<body>
<a href="/">Inicio</a>
<a href="/about">Acerca de</a>
<a href="/blog">Donde escribo</a>
<h1>El blog</h1>
<p>La teoría dice que aquí van los artículos que vaya escribiendo</p>

<a href="/posts/post-1">Primer Post</a>
</body>
</html>
